In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
print(now.strftime("%H:%M:%S"))

09:52:49

In [3]:
import os

In [5]:
os.remove("ventasdiarias.txt")

In [9]:
file1 = open("ventasdiarias.txt",'a')
file1.close()

In [17]:
# read a text file as a list of lines
# find the last line, change to a file you have
fileHandle = open ( 'ventasdiarias.txt',"r" )
lineList = fileHandle.readlines()
fileHandle.close()
# or simply
print(lineList[-1])

3,13,12:41:33,1,GN_6,2,1,0,130.0

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(host = "mysql-28407-0.cloudclusters.net", user="admin01", passwd="alayza2213", port="28416")
cursor = mydb.cursor()
query = ("select genesisDB.salesDetails.*, genesisDB.books.name from genesisDB.salesDetails inner join genesisDB.books on genesisDB.salesDetails.codBook = genesisDB.books.cod where id_sales = 15;")
cursor.execute(query)
mydb.commit()
cursor.close()
mydb.close()

ProgrammingError: 1046 (3D000): No database selected

In [7]:
fileHandle = open ( 'ventasdiarias.txt',"r" )
lineList = fileHandle.readlines()
fileHandle.close()
print(len(lineList))
if len(lineList) > 0:
    return lineList[-1].split(",")[0]

0